<div class="feedback-status"></div>
<%if(locals.errors) {%>
<div class="alert alert-danger">
    <ul>
        <% errors.forEach(err => {%>
        <li><%=err.msg%></li>
        <%})%>
    </ul>
</div>
<%}%>
