<div class="maincontent">
    <h1>Send us feedback</h1>
    <form class="feedback-form"
          method="post"
          action="/feedback">
        <div class="form-group">
            <label for="feedback-form-name">Name</label>
            <input type="text"
                   class="form-control"
                   id="feedback-form-name"
                   name="name"
                   placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="feedback-form-email">E-Mail</label>
            <input type="text"
                   class="form-control"
                   id="feedback-form-email"
                   name="email"
                   placeholder="Enter your email address">
        </div>
        <div class="form-group">
            <label for="feedback-form-title">Title</label>
            <input type="text"
                   class="form-control"
                   id="feedback-form-title"
                   name="title"
                   placeholder="Title of your feedback">
        </div>
        <div class="form-group">
            <label for="feedback-form-message">Message</label>
            <textarea type="text"
                      placeholder="Enter your message, then hit the submit button"
                      class="form-control"
                      id="feedback-form-message"
                      name="message"
                      rows="6"></textarea>
        </div>
        <button type="submit"
                class="btn btn-secondary float-right">Submit</button>
    </form>
</div>
