<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">

            <%- include('./partials/errors-balloon') %>
            <%- include('./partials/feedback-form') %>
        </div>
        <aside class="col-md-8">
            <div class="maincontent feedback">
                <h1>Recent Feedback</h1>
                <%- include('./partials/feedback-list') %>

            </div>
        </aside>
    </div>
</div>
